@model List<FrizerskiSalon_VSITE.Models.Reservation>

<h2>Moje rezervacije</h2>

<a class="btn btn-success mb-3" asp-action="CreateReservation">+ Nova rezervacija</a>

@if (Model != null && Model.Count == 0)
{
    <p>Nema zakazanih termina.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Datum</th>
                <th class="text-center">Vrijeme</th>
                <th class="text-center">Usluga</th>
                <th class="text-center">Trajanje</th>
                <th class="text-center">Cijena</th>
                <th class="text-center">Akcije</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
                <tr>
                    <td class="text-center">@reservation.ReservationDate.ToString("dd.MM.yyyy")</td>
                    <td class="text-center">@reservation.ReservationDate.ToString("dd.MM.yyyy HH:mm")</td>
                    <td class="text-center">@reservation.Service?.Name</td>  <!-- Ovdje treba biti naziv usluge -->
                    <td class="text-center">@reservation.Service?.Description</td>
                    <td class="text-center">@reservation.Service?.Price.ToString("0.00 €")</td>
                    <td class="text-center">
                        <a asp-action="EditReservation" asp-route-id="@reservation.Id" class="btn btn-warning">Uredi</a>
                        <a asp-action="DeleteReservation" asp-route-id="@reservation.Id" class="btn btn-danger">Otkaži</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
